<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dj.songs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SongsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".image.ui.ImageMaganerActivity" />
        <activity android:name=".binder.ui.MusicActivity" />
        <activity android:name=".rxjava.ui.RxjavaActivity" />
        <activity android:name=".network.ui.NetWorkActivity" />
        <activity android:name=".breakword.ui.BreakWordActivity" />
        <activity android:name=".viewmodel.ui.ViewModelActivity" />
        <activity android:name=".xcrash.XCrashActivity" />
        <activity android:name=".xcrash.XCrash2Activity" />
        <activity android:name=".xcrash.SecondActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".dialogfragment.DialogFragmentActivity" />
        <activity android:name=".dialogfragment.DialogActivity"
            android:theme="@style/dialog_style"/>
        <activity android:name=".view.lifecircle.ViewCircleActivity"/>
        <activity android:name=".recyclerview.RecyclerViewActivity"/>
        <activity android:name=".canvas_paint.CanvasPaintActivity"/>
        <activity android:name=".media.audio.AudioActivity"/>
        <activity android:name=".media.MediaActivity"/>
        <activity android:name=".media.video.VideoActivity"/>
        <activity android:name=".spannable.SpannableStringActivity"/>
        <activity android:name=".activity_options_compat.FirstActivity"/>
        <activity android:name=".activity_options_compat.SecondActivity"/>
        <activity android:name=".aop.AopActivity"/>

        <service android:name=".media.audio.AudioService"/>
        <service
            android:name=".xcrash.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":bg" />

        <service
            android:name=".binder.musicplayservice.MusicService"
            android:process=":romate" />
    </application>

</manifest>